<!DOCTYPE html>
    <html lang="es">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'tarea4/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'tarea4/css/coeval.css' %}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="{% static 'tarea4/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'tarea4/js/coeval.js' %}"></script>
        <title>Sistema de Coevaluaciones DCC</title>
    </head>
    <body>
        <!-- Barra superior -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5 py-3">
            <a class="navbar-brand" href="{% url 'landingPage' %}">Sistema de Coevaluaciones DCC</a>
            <!-- Al achicar la pantalla, el menú se oculta y se vuelve desplegable mediante este botón. -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fa fa-navicon"></i>
                </span>
            </button>

            <!-- Menú superior-derecha -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="divider-vertical"></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'perfil' %}">{{ userNombre }}</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- FIN Barra superior -->

        <!-- Cuerpo -->
        <div class="container"> <!-- Contenedor responsivo de Bootstrap, se adapta a la pantalla usando columnas. -->

            <h3 class="d-inline-block page-title">Ficha de Curso</h3>
            <h5 class="mb-3">
                <div class="cargos cargos-alumno"></div>
                {{ dataCurso }}
            </h5>
            <hr/>
            <!-- Tablas de resumen -->
            <div class="row">
                <!-- Tabla de coevaluaciones -->
                <div class="col-md-10 offset-1 ">
                    <div class="row justify-content-between">
            		    <h4 class="d-inline-block mt-1">Tus coevaluaciones del curso</h4>
                        <button class="btn btn-sm btn-primary col-md-3 mr-5" onclick="showNewCoevaluacion({{ idCurso }})">Agregar coevaluación</button>
                    </div>
                    <div class="table-wrap table-responsive my-1" id="tablaCoevs"> <!-- "Envoltura" de la tabla -->
                        <table class="table table-coeval-curso table-striped table-hover mb-0"> <!-- Tabla -->
                            <!-- Encabezados de tabla (Table Headers) -->
                            <thead class="thead-light">
                                <tr> <!-- Fila (Table Row) -->
                                    <th class="th-fecha">Fecha inicio</th>
                                    <th class="th-titulo">Nombre</th>
                                    <th class="th-fecha">Fecha límite</th>
                                    <th class="th-estado">Estado</th>
                                    <th class="th-iconos"></th>
                                </tr>
                            </thead>

                            <!-- Cuerpo de tabla (Table Data) -->
                            <tbody>
                            {% for coev in coevs %}
                                <tr class="tr-{{ coev.estado }}"> <!-- Fila destacada como Pendiente -->
                                    <!-- Fecha de inicio -->
                                    <td class="td-fecha">
                                        {{ coev.fechaIni }}
                                    </td>
                                    <!-- Título de coevaluación -->
                                    <td> <a href="{% url 'fichaCoevaluacion' coev.id %}">{{ coev.nombre }}</a> </td>
                                    <!-- Fecha de término -->
                                    <td class="td-fecha">
                                        {{ coev.fechaTer }}
                                    </td>
                                    <!-- Estado -->
                                    <td>{{ coev.estadoPrint }}</td>
                                    <!-- Ícono de acción (responder) -->
                                    <td class="td-icon">
                                        {% if coev.estado == 'abierta' %}
                                        <a href="{% url 'fichaCoevaluacion' coev.id %}" title="Modificar coevaluación"><img class="clickable-icon answer-icon wiggle" src="{%  static 'tarea4/icon/edit-icon.png' %}"alt="Responder coevaluación" width="28" height="28"></a>-->
                                        {% elif coev.estado == 'cerrada' %}
                                        <a href="{% url 'fichaCoevaluacion' coev.id %}" title="Publicar coevaluación"><img class="clickable-icon answer-icon wiggle" src="{%  static 'tarea4/icon/publish-icon.png' %}"alt="Responder coevaluación" width="28" height="28"></a>
                                        {% elif coev.estado == 'publicada' %}
                                        <a href="{% url 'fichaCoevaluacion' coev.id %}" title="Exportar coevaluación"><img class="clickable-icon answer-icon wiggle" src="{%  static 'tarea4/icon/export-icon.png' %}"alt="Responder coevaluación" width="28" height="28"></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="nuevaCoev">
                        <h3 class="d-inline-block mt-1">Agregar una nueva Coevaluacion</h3>
                        <form action="{% url 'agregarCoev' %}" method="post">
                            {% csrf_token %}
                            {{ agregarCoev }}
                            <input type="submit" value="Agregar">
                            <input type="reset" onclick="showTablaCoev()" value="Cancelar">
                        </form>
                    </div>
                </div>
            </div>



             <!-- Gestión del curso -->
            <hr/>
            <h4 class="d-inline-block mt-1 mb-0">Gestión del Curso</h4>
            <div class="d-inline-block ml-2">
                <a href="#" class="small" title="Cargar información">
                    <img class="clickable-icon export-icon mb-1"
                         width="20" height="20">
                    Cargar archivo...
                </a>
            </div>
            <hr/>
            <div class="row d-flex justify-content-center mb-5">
                <form class="mr-5">
                    <input class="form-control" type="search" placeholder="Buscar alumno..." aria-label="Buscar alumno">
                </form>
                <button type="button" id="add-coev-btn" class="btn btn-primary-custom float-right ml-5">Agregar alumno</button>
            </div>
            <!--<div class="row">
                <div class="col-md-4">
                    <button type="button" id="add-coev-btn" class="btn btn-primary-custom float-left mb-3">Agregar grupo
                    </button>
                </div>
            </div>-->
            <div class="row"> <!-- div para tarjetas de grupo -->
                <div class="col-md-10 offset-1">
                    <div class="row">
                        <div class="col-md-4">
                            <button type="button" id="add-coev-btn" class="btn btn-primary-custom float-left mb-3">Agregar grupo
                            </button>
                        </div>
                    </div>
                    {% for grupo in grupos %}
                    <!-- carta de grupos -->
                    <div class="card col-md-8">
                        <h5 class="card-header">{{ grupo.nombre }}</h5>
                        <div class="card-body">
                            <div class="table-wrap table-responsive my-1"> <!-- "Envoltura" de la tabla -->
                                <table class="table table-coeval-curso table-striped table-hover mb-0" style="table-layout: fixed; white-space: nowrap;"> <!-- Tabla -->
                                    <!-- Encabezados de tabla (Table Headers) -->
                                    <thead class="thead-light">
                                        <tr> <!-- Fila (Table Row) -->
                                            <th style="width: 30%;">Alumnos</th>
                                            {% for titulo in grupo.titulos %}
                                            <th>{{ titulo }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>

                                    <!-- Cuerpo de tabla (Table Data) -->
                                    <tbody>
                                        {% for alumno in grupo.alumnos %}
                                        <tr> <!-- Fila destacada como Pendiente -->
                                            <!-- Nombre alumno -->
                                            <td>
                                                {{ alumno.nombre }}
                                            </td>
                                            <!-- Notas -->
                                            {% for nota in alumno.notas %}
                                                <td> {{ nota }}</td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>

    </body>
    </html>
